            <!-- PAGE HEADER -->
                <section class="section-sm alternate">
                    <div class="overlay dark-4"></div>
                    <br>
                    <br>
            <h2 class="text-center">Request an Intervention</h2>
                </section>
            <!-- /PAGE HEADER -->


        <%= form_tag @intervention do %>

            
            <div class="row">
                <div class="col-md-4 text-center selcust">
                    <label for="customer_id">Customer*</label>
                    <select id="customer_id" class="form-control pointer" name="customer_id" required>
                    </select>
                </div>
                <div class="col-md-2 text-center selbuild selform">
                    <label for="building_id">Building*</label>
                    <select id="building_id" class="form-control pointer" name="building_id" required>
                    </select>
                </div>
                <div class="col-md-2 text-center selbatt selform">
                    <label for="battery_id">Battery*</label>
                    <select id="battery_id" class="form-control pointer" name="battery_id" required>
                    </select>
                </div>
                <div class="col-md-2 text-center selcol selform">
                    <label for="column_id">Column*</label>
                    <select id="column_id" class="form-control pointer" name="column_id">
                    <option value="">None</option>
                    </select>
                </div>
                <div class="col-md-2 text-center selelev selform">
                    <label for="elevator_id">Elevator*</label>
                    <select id="elevator_id" class="form-control pointer" name="elevator_id">
                    <option value="">None</option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 text-center selemp">
                    <label for="employee_id">Assign to:</label>
                    <select id="employee_id" class="form-control pointer" name="employee_id">
                        <option value="">None</option>
                    </select>
                </div>

                <div class="col-md-8 text-center seldesc">
                    <label for="report">Description</label>
                    <input type="text" placeholder="Description here" id="report" class="form-control pointer" name="report">
                </div>
                <br \>
                <br \>
            </div>
            </h4>
            	
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-danger btn-lg btn-red btn-block">Send</button>
                </div>      
            </div>
        <% end %>

        <script>

        // Creating a Dropdown list for the Customers (Required Field) 
        function customer_Dropdown() {
            $("#customer_id").append("<option disabled selected>--Required--</option>")
            <% Customer.all.each do |customer| %>
                $("#customer_id").append("<option value='<%=customer.id%>'><%=customer.company_name%></option>")
            <% end %>
        };

        // Creating a Dropdown list for the Employees 
        function employee_Dropdown() {
            $("#employee_id").append("<option value='' selected>None</option>")
            <% Employee.all.each do |employee| %>
                $("#employee_id").append("<option value='<%=employee.id%>'><%=employee.first_name%> <%=employee.last_name%></option>")
            <% end %>
        };

        // Creating a Dropdown list for the Buildings (Required Field)
        function buildingDropdown() {
            $("#building_id").append("<option disabled selected>--Required--</option>")
            <% Building.all.each do |building| %>
            if ($('#customer_id').val() == <%=building.customer_id%>){
                $("#building_id").append("<option value='<%=building.id%>'><%=building.id%></option>")
            }
            <% end %>
        };

        // Creating a Dropdown list for the Batteries (Required Field)
        function batteryDropdown() {
            $("#battery_id").append("<option disabled selected>--Required--</option>")
            <% Battery.all.each do |battery| %>
            if ($('#building_id').val() == <%=battery.building_id%>){
                $("#battery_id").append("<option value='<%=battery.id%>'>Battery #<%=battery.id%></option>")
            }
            <% end %>
        };

        // Creating a Dropdown list for the Columns (Required Field)
        function columnDropdown() {
            $("#column_id").append("<option value='' selected>None</option>")
            <% Column.all.each do |column| %>
            if ($('#battery_id').val() == <%=column.battery_id%>){
                $("#column_id").append("<option value='<%=column.id%>'>Column #<%=column.id%></option>")
            }
            <% end %>
        };

        // Creating a Dropdown list for the Elevators (Required Field) 
        function elevatorDropdown() {
            $("#elevator_id").append("<option value='' selected>None</option>")
            <% Elevator.all.each do |elevator| %>
            if ($('#column_id').val() == <%=elevator.column_id%>){
                $("#elevator_id").append("<option value='<%=elevator.id%>'>Elevator  #<%=elevator.id%></option>")
            }
            <% end %>
        };

        // functions to remove pre-populated fields

        function autoRemove(opt) {
            $(opt).find('option').remove()
        };

        function autoRemoveAll() {
            $('#intervention').find('option').remove()

        };
        function clearText() {
                $('#report').val("")
            }

        // Invoking the functions to restart the fields after reloading the page.
        autoRemoveAll()
        clearText()
        customer_Dropdown()
        employee_Dropdown()

        $(".selform").hide()

        // Event listeners that manipulate the select fields
        $('#customer_id').change(function(){
            autoRemove('#building_id')
            autoRemove('#battery_id')
            autoRemove('#column_id')
            autoRemove('#elevator_id')
            $(".selform").hide()
            $(".selbuild").show()
            buildingDropdown()
        });

        $('#building_id').change(function(){
            autoRemove('#battery_id')
            autoRemove('#column_id')
            autoRemove('#elevator_id')
            $(".selcol").hide()
            $(".selelev").hide()
            $(".selbatt").show()
            batteryDropdown()
        });

        $('#battery_id').change(function(){
            autoRemove('#column_id')
            autoRemove('#elevator_id')
            $(".selelev").hide()
            $(".selcol").show()
            columnDropdown()
        });

        $('#column_id').change(function(){
            autoRemove('#elevator_id')
            $(".selelev").show()
            elevatorDropdown()
        });

        </script>